In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('mission_launches.csv')

In [6]:
df['date'] = pd.to_datetime(df.Date, format='mixed')

In [9]:
df.loc[106]

Unnamed: 0.1                                                    106
Unnamed: 0                                                      106
Organisation                                                    ISA
Location          Imam Khomeini Spaceport, Semnan Space Center, ...
Date                                               Thu Aug 29, 2019
Detail                                          Safir-1B+ | Nahid-1
Rocket_Status                                          StatusActive
Price                                                           NaN
Mission_Status                                    Prelaunch Failure
date                                            2019-08-29 00:00:00
Name: 106, dtype: object

In [10]:
df.dtypes

Unnamed: 0.1       int64
Unnamed: 0         int64
Organisation      object
Location          object
Date              object
Detail            object
Rocket_Status     object
Price             object
Mission_Status    object
date              object
dtype: object

In [11]:
type(df.loc[106]['date'])

datetime.datetime

In [13]:
df['dAte'] = df.date.dt.strftime("%Y-%m-%d")

AttributeError: Can only use .dt accessor with datetimelike values

In [14]:
df

,Unnamed: 0.1,Unnamed: 0,Organisation,Location,Date,Detail,Rocket_Status,Price,Mission_Status,date
0,0,0,SpaceX,"LC-39A, Kennedy Space Center, Florida, USA","Fri Aug 07, 2020 05:12 UTC",Falcon 9 Block 5 | Starlink V1 L9 & BlackSky,StatusActive,50.0,Success,2020-08-07 05:12:00+00:00
1,1,1,CASC,"Site 9401 (SLS-2), Jiuquan Satellite Launch Ce...","Thu Aug 06, 2020 04:01 UTC",Long March 2D | Gaofen-9 04 & Q-SAT,StatusActive,29.75,Success,2020-08-06 04:01:00+00:00
2,2,2,SpaceX,"Pad A, Boca Chica, Texas, USA","Tue Aug 04, 2020 23:57 UTC",Starship Prototype | 150 Meter Hop,StatusActive,NaN,Success,2020-08-04 23:57:00+00:00
3,3,3,Roscosmos,"Site 200/39, Baikonur Cosmodrome, Kazakhstan","Thu Jul 30, 2020 21:25 UTC",Proton-M/Briz-M | Ekspress-80 & Ekspress-103,StatusActive,65.0,Success,2020-07-30 21:25:00+00:00
4,4,4,ULA,"SLC-41, Cape Canaveral AFS, Florida, USA","Thu Jul 30, 2020 11:50 UTC",Atlas V 541 | Perseverance,StatusActive,145.0,Success,2020-07-30 11:50:00+00:00
...,...,...,...,...,...,...,...,...,...,...
4319,4319,4319,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA","Wed Feb 05, 1958 07:33 UTC",Vanguard | Vanguard TV3BU,StatusRetired,NaN,Failure,1958-02-05 07:33:00+00:00
4320,4320,4320,AMBA,"LC-26A, Cape Canaveral AFS, Florida, USA","Sat Feb 01, 1958 03:48 UTC",Juno I | Explorer 1,StatusRetired,NaN,Success,1958-02-01 03:48:00+00:00
4321,4321,4321,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA","Fri Dec 06, 1957 16:44 UTC",Vanguard | Vanguard TV3,StatusRetired,NaN,Failure,1957-12-06 16:44:00+00:00
4322,4322,4322,RVSN USSR,"Site 1/5, Baikonur Cosmodrome, Kazakhstan","Sun Nov 03, 1957 02:30 UTC",Sputnik 8K71PS | Sputnik-2,StatusRetired,NaN,Success,1957-11-03 02:30:00+00:00
4323,4323,4323,RVSN USSR,"Site 1/5, Baikonur Cosmodrome, Kazakhstan","Fri Oct 04, 1957 19:28 UTC",Sputnik 8K71PS | Sputnik-1,StatusRetired,NaN,Success,1957-10-04 19:28:00+00:00

In [16]:
df['fok'] = pd.to_datetime(df.Date,'infer_datetime_format=True')

AssertionError:

In [17]:
df['fok'] = df['Date'].apply(lambda x: pd.to_datetime(x).strftime('%Y-%m-%d'))

In [19]:
df.loc[106]

Unnamed: 0.1                                                    106
Unnamed: 0                                                      106
Organisation                                                    ISA
Location          Imam Khomeini Spaceport, Semnan Space Center, ...
Date                                               Thu Aug 29, 2019
Detail                                          Safir-1B+ | Nahid-1
Rocket_Status                                          StatusActive
Price                                                           NaN
Mission_Status                                    Prelaunch Failure
date                                            2019-08-29 00:00:00
fok                                                      2019-08-29
Name: 106, dtype: object

In [20]:
df.dtypes

Unnamed: 0.1       int64
Unnamed: 0         int64
Organisation      object
Location          object
Date              object
Detail            object
Rocket_Status     object
Price             object
Mission_Status    object
date              object
fok               object
dtype: object

In [21]:
df['fuck'] = pd.to_datetime(df.fok)

In [27]:
df.dtypes

Unnamed: 0.1               int64
Unnamed: 0                 int64
Organisation              object
Location                  object
Date              datetime64[ns]
Detail                    object
Rocket_Status             object
Price                     object
Mission_Status            object
date                      object
fok                       object
fuck              datetime64[ns]
dtype: object

In [24]:
df['Date'] = df['Date'].apply(lambda x: pd.to_datetime(x).strftime('%Y-%m-%d'))

In [26]:
df['Date'] = pd.to_datetime(df.Date)

In [31]:
filt = df.Mission_Status == "Failure"
df[filt].Mission_Status = "Awoe"

/tmp/ipykernel_81413/1667176177.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[filt].Mission_Status = "Awoe"

In [32]:
df[filt]

,Unnamed: 0.1,Unnamed: 0,Organisation,Location,Date,Detail,Rocket_Status,Price,Mission_Status,date,fok,fuck
11,11,11,ExPace,"Site 95, Jiuquan Satellite Launch Center, China",2020-07-10,"Kuaizhou 11 | Jilin-1 02E, CentiSpace-1 S2",StatusActive,28.3,Failure,2020-07-10 04:17:00+00:00,2020-07-10,2020-07-10
15,15,15,Rocket Lab,"Rocket Lab LC-1A, M?hia Peninsula, New Zealand",2020-07-04,Electron/Curie | Pics Or It Didn??¦t Happen,StatusActive,7.5,Failure,2020-07-04 21:19:00+00:00,2020-07-04,2020-07-04
27,27,27,Virgin Orbit,"Cosmic Girl, Mojave Air and Space Port, Califo...",2020-05-25,LauncherOne | Demo Flight,StatusActive,12.0,Failure,2020-05-25 19:50:00+00:00,2020-05-25,2020-05-25
36,36,36,CASC,"LC-2, Xichang Satellite Launch Center, China",2020-04-09,Long March 3B/E | Nusantara Dua,StatusActive,29.15,Failure,2020-04-09 11:46:00+00:00,2020-04-09,2020-04-09
43,43,43,CASC,"LC-201, Wenchang Satellite Launch Center, China",2020-03-16,Long March 7A | XJY-6,StatusActive,NaN,Failure,2020-03-16 13:34:00+00:00,2020-03-16,2020-03-16
...,...,...,...,...,...,...,...,...,...,...,...,...
4314,4314,4314,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA",1958-04-28,Vanguard | Vanguard TV5,StatusRetired,NaN,Failure,1958-04-28 02:53:00+00:00,1958-04-28,1958-04-28
4315,4315,4315,RVSN USSR,"Site 1/5, Baikonur Cosmodrome, Kazakhstan",1958-04-27,Sputnik 8A91 | Sputnik-3 #1,StatusRetired,NaN,Failure,1958-04-27 09:01:00+00:00,1958-04-27,1958-04-27
4318,4318,4318,AMBA,"LC-26A, Cape Canaveral AFS, Florida, USA",1958-03-05,Juno I | Explorer 2,StatusRetired,NaN,Failure,1958-03-05 18:27:00+00:00,1958-03-05,1958-03-05
4319,4319,4319,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA",1958-02-05,Vanguard | Vanguard TV3BU,StatusRetired,NaN,Failure,1958-02-05 07:33:00+00:00,1958-02-05,1958-02-05
4321,4321,4321,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA",1957-12-06,Vanguard | Vanguard TV3,StatusRetired,NaN,Failure,1957-12-06 16:44:00+00:00,1957-12-06,1957-12-06